In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv('Book1.csv')

In [3]:
iris.head()

   sepal length  sepal width  petal length  petal width       specie
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   specie        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
iris.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
iris

     sepal length  sepal width  petal length  petal width          specie
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
iris

     sepal length  sepal width  petal length  petal width          specie
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
class_labels = iris['specie'].unique()
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
iris['specie'] = encoder.fit_transform(iris['specie'])

In [9]:
class_labels_encoded = encoder.transform(class_labels)

In [10]:
iris['specie']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: specie, Length: 150, dtype: int32

## SPLIT

In [11]:
from sklearn.model_selection import StratifiedShuffleSplit
split  = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state =42)
for train_index, test_index in split.split(iris, iris['specie']):
    strat_train_set = iris.loc[train_index]
    strat_test_set = iris.loc[test_index]

In [12]:
strat_train_set['specie'].value_counts()

specie
0    40
2    40
1    40
Name: count, dtype: int64

In [13]:
iris = strat_train_set.copy()

## CORRELATION

In [14]:
corr_matrix = iris.corr()
corr_matrix['specie'].sort_values(ascending = False)

specie          1.000000
petal width     0.959387
petal length    0.951013
sepal length    0.792204
sepal width    -0.388647
Name: specie, dtype: float64

In [15]:
iris = strat_train_set.drop('specie', axis = 1)
iris_labels = strat_train_set['specie'].copy()

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
my_pipeline=Pipeline([
    ('std_scaler', StandardScaler())
])

In [17]:
iris_num_tr = my_pipeline.fit_transform(iris)

In [18]:
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
#model = SVC()
model = GradientBoostingClassifier()
#model = RandomForestClassifier()
model.fit(iris_num_tr, iris_labels)

GradientBoostingClassifier()

In [19]:
some_data = iris.iloc[:5]
some_labels = iris_labels.iloc[:5]
prepared_data = my_pipeline.transform(some_data)

In [20]:
model.predict(prepared_data)

array([0, 2, 1, 0, 1])

## Evaluating

In [21]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, iris_num_tr, iris_labels, scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)

In [22]:
rmse_scores

array([0.28867513, 0.        , 0.        , 0.28867513, 0.28867513,
       0.        , 0.28867513, 0.        , 0.28867513, 0.        ])

In [23]:
def print_scores(scores):
    print("Scores", scores)
    print("Mean", scores.mean())
    print("Standard Deviation", scores.std())

In [24]:
print_scores(rmse_scores)

Scores [0.28867513 0.         0.         0.28867513 0.28867513 0.
 0.28867513 0.         0.28867513 0.        ]
Mean 0.14433756729740643
Standard Deviation 0.14433756729740646

## MODEL SAVING

In [25]:
from joblib import dump, load
dump(model, "iris.joblib")

['iris.joblib']

In [26]:
from sklearn.metrics import mean_squared_error
x_test = strat_test_set.drop("specie", axis=1)
y_test = strat_test_set["specie"].copy()
x_test_prepared = my_pipeline.transform(x_test)
final_predictions = model.predict(x_test_prepared)
final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)
# print(final_predictions, list(y_test))

In [27]:
final_rmse

0.31622776601683794

In [28]:
prepared_data

array([[-1.72156775, -0.32483982, -1.34703555, -1.32016847],
       [-1.12449223, -1.22612948,  0.41429037,  0.65186742],
       [ 1.14439475, -0.55016223,  0.58474127,  0.25746024],
       [-1.12449223,  0.12580502, -1.29021859, -1.45163753],
       [-0.40800161, -1.22612948,  0.13020555,  0.12599118]])

## Using the Model

In [29]:
features = np.array([[-1.12449223, -1.22612948,  0.41429037,  0.65186742]])
model.predict(features)

array([2])

In [30]:
some_labels

8      0
106    2
76     1
9      0
89     1
Name: specie, dtype: int32